* {
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    list-style: none;
    color: aliceblue;
}

p {
    
    padding: 10px;
    display: inline-block;
}
h1, h2, ul, li, table {
    color: aliceblue;
    margin: 20px;
    padding: 5px;
}

table * {
    border: 2px solid white;
    padding: 25px;
}
td {
    width: 300px;
}